<app-home></app-home>

<div class="container">
  <div class="col-md-12 my-div">
    <form #f="ngForm" (ngSubmit)="updatePassword()">
      <h2 style="color: blue;">Reset Your Password Here</h2>
      <div class="mb-3">
        <label for="loginId"  class="form-label">Login Id</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="loginId" [(ngModel)]="loginId" [disabled]="true">
      </div>
      <div class="mb-3">
          <label for="password"  class="form-label">Password</label>
          <input type="password" class="form-control" placeholder="Enter new password" name="password" [(ngModel)]="password">
      </div>
      <button type="submit" [disabled]="password.length<6" class="btn btn-primary">reset</button>
  </form>
  </div>
</div>
<div class="container" *ngIf="message.length>0">
  <div class="col-12 my-div">
      <h2 style="color: green; text-align: center;">{{message}}</h2>
  </div>
</div>