 .register{
  padding: 2%;
}
.card-body{
    padding-top: 55px !important;
    padding-bottom: 100px !important;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
input.ng-valid.ng-touched{
  border: 2px solid green;
}
.err{
  color: red;
}

